html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    background-color: rgb(161, 123, 196);
    padding: 10px;
    margin: 2px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

.buttonRow {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.buttonRow button {
    background-color: #fff;
    border: 0;
    cursor: pointer;
}